@import "../styles/colors";
.show-more {
    display: block;
    width: 221px;
    height: 54px;
    background-color: $blue;
    border: none;
    border-radius: 16px;
    color: $white;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    margin: 54px auto 0px;
    border: none;
    cursor: pointer;
}
.show-more:hover {
    -webkit-box-shadow: -1px 3px 8px 16px rgba(34, 60, 80, 0.33) inset;
    -moz-box-shadow: -1px 3px 8px 16px rgba(80, 170, 164, 0.33) inset;
    box-shadow: -1px 3px 8px 16px rgba(80, 170, 164, 0.33) inset;
}
@media (max-width: 1024px) {
    .show-more {
        font-weight: 400;
        font-size: 27px;
        line-height: 35px;
    }
}
@media (max-width: 360px) {
    .show-more {
        min-width: 323px;
        margin-top: 46px;
        font-size: 16px;
        line-height: 35px;
        border-radius: 23px;
    }
}
